<div nz-row class="container">
    <div nz-col [nzSm]="4">
        <button nz-button nzShape="circle" class="big-btn red-btn">20/25</button>
    </div>
    <div nz-col [nzSm]="4">
        <button nz-button nzShape="circle" class="big-btn red-light-btn">10/15</button>
    </div>
    <div nz-col [nzSm]="4">
        <button nz-button nzShape="circle" class="big-btn red-lighter-btn">1/5</button>
    </div>
</div>
<div nz-row class="container">
    <div nz-col [nzSm]="4">
        <button nz-button nzShape="circle" class="big-btn yellow-btn">25/30</button>
    </div>
    <div nz-col [nzSm]="4">
        <button nz-button nzShape="circle" class="big-btn yellow-light-btn">1/5</button>
    </div>
</div>
<div nz-row class="container">
    <div nz-col [nzSm]="4">
        <button nz-button nzShape="circle" class="big-btn green-btn">15/25</button>
    </div>
    <div nz-col [nzSm]="4">
        <button nz-button nzShape="circle" class="big-btn green-light-btn">15/25</button>
    </div>
    <div nz-col [nzSm]="4">
        <button nz-button nzShape="circle" class="big-btn green-lighter-btn">15/25</button>
    </div>
</div>
<div nz-row class="container">
    <div nz-col [nzSm]="4">
        <button nz-button nzShape="circle" class="big-btn white-btn">15</button>
    </div>
</div>