<div nz-row class="container">
    <div nz-col [nzSm]="8">
        <button nz-button nzShape="circle" class="big-btn red-btn"><span class="title-txt">RED</span><br>จำนวน xxx ราย</button>
    </div>
    <div nz-col [nzSm]="8">
        <button nz-button nzShape="circle" class="big-btn yellow-btn"><span class="title-txt">YELLOW</span><br>จำนวน xxx ราย</button>
    </div>
    <div nz-col [nzSm]="8">
        <button nz-button nzShape="circle" class="big-btn green-btn"><span class="title-txt">GREEN</span><br>จำนวน xxx ราย</button>
    </div>
</div>