<nz-table #logisticTable nzBordered [nzData]="listData" [nzScroll]="{ x: 'auto' }" nzSize="small">
    <thead>
        <tr>      
            <th *ngFor="let column of listColumn"
                [nzRight]="column.fixRight"
                [nzWidth]="column.nzWidth"
                [nzShowFilter]="column.showFilter"
                [nzFilterMultiple]="column.filterMultiple"
                [nzFilters]="column.listOfFilter"
                [nzFilterFn]="column.filterFn">
                {{ column.name }}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of logisticTable.data">
            <td>{{ data.PRE_ID }}</td>
            <td>{{ data.PAT_ID }}</td>
            <td>{{ data.PRE_DATE }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ data.PHA_ID }}</td>
            <td>{{ data.PHA_DATE }}</td>
            <td>{{ data.PHA_CONFIRM }}</td>
            <td>{{ data.PHA_EDIT }}</td>
            <td></td>
            <td></td>
            <td>{{ data.LOG_STATUS }}</td>
            <td>{{ data.LOG_REMARK }}</td>
            <td>{{ data.LOG_DATE }}</td>
            <td></td>
        </tr>
    </tbody>
</nz-table>