<nz-table #logisticTable nzBordered [nzData]="listData" [nzScroll]="{ x: 'auto' }" nzSize="small">
    <thead>
        <tr>
            <th>เลขที่ใบสั่งยา</th>
            <th>ID</th>
            <th>Ref Combined</th>
            <th>สั่งยาครั้งที่</th>
            <th>CM Alert โลจิสติกส์</th>
            <th>คำนำหน้า</th>
            <th>ชื่อ</th>
            <th>ที่อยู่</th>
            <th>เบอร์โทรศัพท์</th>
            <th>LINE ID</th>
            <th>ชื่อญาติติดต่อฉุกเฉิน</th>
            <th>เบอร์โทรฉุกเฉิน</th>
            <th>ชื่อแพทย์</th>
            <th>วันที่สั่ง</th>
            <th>สีผู้ป่วย</th>
            <th>สรุปยา</th>
            <th>สรุปอุปกรณ์</th>
            <th>ID เภสัช</th>
            <th>วันเวลาที่ confirm</th>
            <th>เภสัช Confirm/แก้ไข</th>
            <th>เภสัช รายการแก้ไข</th>
            <th>เภสัช หมายเหตุ</th>
            <th>เภสัช to โลจิสติกส์</th>
            <th>สถานะการรับยาและอุปกรณ์</th>
            <th>โลจิสติกส์ หมายเหตุ</th>
            <th>วันเวลาที่ confirm สถานะ</th>
            <th>CM Confirm จ่ายยา</th>        
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of logisticTable.data">
            <td>{{ data.PRE_ID }}</td>
            <td>{{ data.PAT_ID }}</td>
            <td>{{ data.PRE_DATE }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ data.PHA_ID }}</td>
            <td>{{ data.PHA_DATE }}</td>
            <td>{{ data.PHA_CONFIRM }}</td>
            <td>{{ data.PHA_EDIT }}</td>
            <td></td>
            <td></td>
            <td>{{ data.LOG_STATUS }}</td>
            <td>{{ data.LOG_REMARK }}</td>
            <td>{{ data.LOG_DATE }}</td>
            <td></td>
        </tr>
    </tbody>
</nz-table>