th.ant-table-cell {
    text-align: center;
    font-weight: bolder;
}

.cell-center {
    text-align: center;
}

.button-add {
    margin: 10px;
}

nz-select.dropdown-title {
    width: 100px !important;
}

nz-date-picker {
    width: 100% !important;
}

nz-input-number {
    width: 100% !important;
}