<button nz-button 
    nzType="primary" 
    nzShape="round"
    (click)="addData(form)"
    class="button-add">เพิ่มข้อมูล</button>
<nz-table #regisTable nzBordered [nzData]="listData" [nzScroll]="{ x: '8000px' }" nzSize="small">
    <thead>
        <tr>
            <th nzWidth="50px">ID</th>
            <th nzWidth="75px">Ref ID</th>
            <th nzWidth="100px">คำนำหน้า</th>
            <th>ชื่อ-นามสกุล</th>
            <th>เบอร์โทรศัพท์</th>
            <th>Line ID</th>
            <th>เวชระเบียน</th>
            <th>วันที่เข้าระบบ</th>
            <th>ผู้ลงข้อมูล</th>
            <th>กาชาด</th>
            <th>วันแรกที่มีอาการ</th>
            <th>วันที่ตรวจพบเชื้อ</th>
            <th>วิธีการตรวจ</th>
            <th>สถานที่ตรวจ</th>
            <th>หมายเหตุ</th>
            <th>เลขบัตรประชาชน</th>
            <th>เพศ</th>
            <th>อายุ</th>
            <th>วันเกิด</th>
            <th>น้ำหนัก</th>
            <th>สถานภาพ</th>
            <th>โรคประจำตัว</th>
            <th>สิทธิ์การรักษา</th>
            <th>โรงพยาบาล</th>
            <th>โครงการที่เข้าร่วม</th>
            <th>ญาติสำหรับติดต่อฉุกเฉิน</th>
            <th>เบอร์ฉุกเฉิน</th>
            <th>เบอร์ฉุกเฉินสำรอง</th>
            <th>บ้านเลขที่</th>
            <th>ซอย</th>
            <th>ถนน</th>
            <th>แขวง/ตำบล</th>
            <th>เขต/อำเภอ</th>
            <th>จังหวัด</th>
            <th>รหัสไปรษณีย์</th>
            <th>โทรศัพท์มือถือ</th>
            <th>รวมที่อยู่และเบอร์มือถือ</th>
            <th>วันที่พบแพทย์ล่าสุด</th>
            <th>แพทย์:สีผู้ป่วย</th>
            <th>วันพบพยาบาลล่าสุด</th>
            <th>พยาบาล:สีผู้ป่วย</th>
            <th>ถ่ายบัตรประชาชน</th>
            <th>ผลตรวจ COVID</th>
            <th>ผู้ลงข้อมูล</th>
            <th>สถานะ office</th>
            <th>CM Alert HI</th>
            <th>ลงชื่อ HI</th>
            <th>วันที่อัปเดตข้อมูล</th>
            <th>HI</th>
            <th>CM Alert CI</th>
            <th>ลงชื่อ CI</th>
            <th>วันที่อัปเดตข้อมูล</th>
            <th>O2</th>
            <th>CI</th>
            <th>เวชระเบียน:ต้องการนักจิตวิทยา</th>
            <th>แพทย์:ต้องการนักจิตวิทยา</th>
            <th>พยาบาล:ต้องการนักจิตวิทยา</th>
            <th>ต้องการนักจิตวิทยา</th>
            <th nzRight></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of regisTable.data">
            <td class="cell-center">{{ data.ID }}</td>
            <td class="cell-center">{{ data.REFID }}</td>
            <td class="cell-center">{{ data.TITLE_DISPLAY }}</td>
            <td>{{ data.NAME }}</td>
            <td>{{ data.MOBILE }}</td>
            <td>{{ data.LINE }}</td>
            <td>{{ data.STATUS_DISPLAY }}</td>
            <td>{{ util.DateToString(data.DATEIN) }}</td>
            <td>{{ data.REGISTER }}</td>
            <td>{{ data.KACHART_DISPLAY }}</td>
            <td>{{ util.DateToString(data.DATESYMPTOM) }}</td>
            <td>{{ util.DateToString(data.DATEPOSITIVE) }}</td>
            <td>{{ data.TESTING_DISPLAY }}</td>
            <td>{{ data.TESTINGLOCATION }}</td>
            <td>{{ data.TESTINGREMARK }}</td>
            <td>{{ data.THAIID }}</td>
            <td>{{ data.GENDER_DISPLAY }}</td>
            <td>{{ data.AGE }}</td>
            <td>{{ util.DateToString(data.BIRTHDATE) }}</td>
            <td>{{ data.WEIGHT }}</td>
            <td>{{ data.MARRIAGE_DISPLAY }}</td>
            <td>{{ data.DISEASE }}</td>
            <td>{{ data.HEALTH }}</td>
            <td>{{ data.HEALTHHOSPITAL }}</td>
            <td>{{ data.HEALTHPROJECT }}</td>
            <td>{{ data.RELATIVE }}</td>
            <td>{{ data.RELATIVEMOBILE }}</td>
            <td>{{ data.RELATIVEMOBILE2 }}</td>
            <td>{{ data.HOMENO }}</td>
            <td>{{ data.HOMESOI }}</td>
            <td>{{ data.HOMEROAD }}</td>
            <td>{{ data.HOMESUBDISTRICT }}</td>
            <td>{{ data.HOMEDISTRICT }}</td>
            <td>{{ data.HOMEPROVINCE }}</td>
            <td>{{ data.HOMEPOSTAL }}</td>
            <td>{{ data.MOBILETYPE_DISPLAY }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ data.OFFICETHAIIDCOPY_DISPLAY }}</td>
            <td>{{ data.OFFICECOVIDTEST_DISPLAY }}</td>
            <td></td>
            <td>{{ data.OFFICESTATUS }}</td>
            <td></td>
            <td>{{ data.HI }}</td>
            <td>{{ util.DateToString(data.HIDATE) }}</td>
            <td>{{ data.HISTATUS_DISPLAY }}</td>
            <td></td>
            <td>{{ data.CI }}</td>
            <td>{{ util.DateToString(data.CIDATE) }}</td>
            <td>{{ data.CIO2 }}</td>
            <td>{{ data.CISTATUS }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ data.PSY }}</td>
            <td nzRight (click)="updateData(data, form)">Action</td>
        </tr>
    </tbody>
</nz-table>

<ng-template #form>
    <form nz-form>
        <nz-form-item>
            <nz-form-label [nzSm]="4" nzFor="fullname">ชื่อ-นามสกุล</nz-form-label>
            <nz-form-control [nzSm]="20">
                <nz-input-group [nzAddOnBefore]="titleTemplate">
                    <input nz-input id=fullname
                        placeholder="ชื่อ-นามสกุลของผู้ป่วย"
                        [(ngModel)]="current.NAME"
                        [ngModelOptions]="{ standalone: true }" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="4" nzFor="mobileno">เบอร์โทรศัพท์</nz-form-label>
            <nz-form-control [nzSm]="8">
                <input nz-input id="mobileno"
                    placeholder="เบอร์โทรศัพท์ของผู้ป่วย"
                    [(ngModel)]="current.MOBILE"
                    [ngModelOptions]="{ standalone: true }" />
            </nz-form-control>
            <nz-form-label [nzSm]="4" nzFor="line">Line ID</nz-form-label>
            <nz-form-control [nzSm]="8">
                <input nz-input id="line"
                    placeholder="Line ID ของผู้ป่วย"
                    [(ngModel)]="current.LINE"
                    [ngModelOptions]="{ standalone: true }" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="4" nzFor="registatus">เวชระเบียน</nz-form-label>
            <nz-form-control [nzSm]="8">
                <nz-select id="registatus" 
                    [(ngModel)]="current.STATUS" 
                    [ngModelOptions]="{ standalone: true }">
                    <nz-option nzValue="verified" nzLabel="ตรวจสอบแล้ว"></nz-option>
                    <nz-option nzValue="pendingResult" nzLabel="รอผลตรวจ"></nz-option>
                    <nz-option nzValue="pendingHi" nzLabel="รอพบ HI"></nz-option>
                    <nz-option nzValue="noContact" nzLabel="ติดต่อไม่ได้"></nz-option>
                    <nz-option nzValue="contacting" nzLabel="กำลังโทรติดต่อ"></nz-option>
                    <nz-option nzValue="pendingVerify" nzLabel="รอการตรวจสอบ"></nz-option>
                    <nz-option nzValue="anotherCampaign" nzLabel="ไม่เข้าร่วม - ร่วมโครงการอื่น"></nz-option>
                    <nz-option nzValue="hospital" nzLabel="ไม่เข้าร่วม - รักษาที่ รพ."></nz-option>
                    <nz-option nzValue="noResult" nzLabel="ไม่เข้าร่วม - ไม่มีผลตรวจ"></nz-option>
                    <nz-option nzValue="outside" nzLabel="ไม่เข้าร่วม - อยู่นอก กทม."></nz-option>
                    <nz-option nzValue="noData" nzLabel="ไม่เข้าร่วม - ไม่ให้ข้อมูล"></nz-option>
                    <nz-option nzValue="normal" nzLabel="ไม่เข้าร่วม - หายแล้ว"></nz-option>
                    <nz-option nzValue="dupName" nzLabel="ชื่อซ้ำ"></nz-option>
                </nz-select>
            </nz-form-control>
            <nz-form-label [nzSm]="4" nzFor="inputname">ผู้ลงข้อมูล</nz-form-label>
            <nz-form-control [nzSm]="8">
                <input nz-input id="inputname"
                    placeholder="ชื่อ-นามสกุลของผู้ลงข้อมูล"
                    [(ngModel)]="current.REGISTER"
                    [ngModelOptions]="{ standalone: true }" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="4" nzFor="redcross">กาชาด</nz-form-label>
            <nz-form-control [nzSm]="8">
                <nz-select id="redcross" 
                    [(ngModel)]="current.KACHART" 
                    [ngModelOptions]="{ standalone: true }">
                    <nz-option nzValue="redcross" nzLabel="กาชาด"></nz-option>
                    <nz-option nzValue="lbh" nzLabel="LBH"></nz-option>
                    <nz-option nzValue="other" nzLabel="อื่นๆ"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="4" nzFor="sympdate">วันแรกที่มีอาการ</nz-form-label>
            <nz-form-control [nzSm]="8">
                <nz-date-picker id="sympdate" 
                    nzFormat="dd/MM/yyyy" 
                    [(ngModel)]="current.DATESYMPTOM" 
                    [ngModelOptions]="{ standalone: true }"></nz-date-picker>
            </nz-form-control>
            <nz-form-label [nzSm]="4" nzFor="defectdate">วันที่ตรวจพบเชื้อ</nz-form-label>
            <nz-form-control [nzSm]="8">
                <nz-date-picker id="defectdate" 
                    nzFormat="dd/MM/yyyy" 
                    [(ngModel)]="current.DATEPOSITIVE" 
                    [ngModelOptions]="{ standalone: true }"></nz-date-picker>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="4" nzFor="testing">วิธีการตรวจ</nz-form-label>
            <nz-form-control [nzSm]="8">
                <nz-select id="testing" 
                    [(ngModel)]="current.TESTING" 
                    [ngModelOptions]="{ standalone: true }">
                    <nz-option nzValue="pcr" nzLabel="PCR"></nz-option>
                    <nz-option nzValue="atk" nzLabel="ATK"></nz-option>
                    <nz-option nzValue="other" nzLabel="อื่นๆ"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="4" nzFor="testloc">สถานที่ตรวจ</nz-form-label>
            <nz-form-control [nzSm]="8">
                <input nz-input id="testloc"
                    [(ngModel)]="current.TESTINGLOCATION"
                    [ngModelOptions]="{ standalone: true }" />
            </nz-form-control>
            <nz-form-label [nzSm]="4" nzFor="testremark">หมายเหตุ</nz-form-label>
            <nz-form-control [nzSm]="8">
                <input nz-input id="testremark"
                    [(ngModel)]="current.TESTINGREMARK"
                    [ngModelOptions]="{ standalone: true }" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="4" nzFor="cid">เลขบัตรประชาชน</nz-form-label>
            <nz-form-control [nzSm]="8">
                <input nz-input id="cid"
                placeholder="13 หลัก (ไม่ต้องมี - คั่น)"
                    [(ngModel)]="current.THAIID"
                    [ngModelOptions]="{ standalone: true }" />
            </nz-form-control>
            <nz-form-label [nzSm]="4" nzFor="gender">เพศ</nz-form-label>
            <nz-form-control [nzSm]="8">
                <nz-select id="gender" 
                    [(ngModel)]="current.GENDER" 
                    [ngModelOptions]="{ standalone: true }">
                    <nz-option nzValue="male" nzLabel="ชาย"></nz-option>
                    <nz-option nzValue="female" nzLabel="หญิง"></nz-option>
                    <nz-option nzValue="other" nzLabel="อื่นๆ"></nz-option>
                    <nz-option nzValue="novalue" nzLabel="ไม่ระบุ"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="4" nzFor="birthday">วันเกิด</nz-form-label>
            <nz-form-control [nzSm]="8">
                <nz-date-picker id="birthday" 
                    nzFormat="dd/MM/yyyy" 
                    [(ngModel)]="current.BIRTHDATE" 
                    [ngModelOptions]="{ standalone: true }"></nz-date-picker>
            </nz-form-control>
            <nz-form-label [nzSm]="4" nzFor="weight">น้ำหนัก</nz-form-label>
            <nz-form-control [nzSm]="8">
                <nz-input-number id="weight"
                    [nzMin]="0"
                    [nzStep]="0.5"
                    nzPlaceHolder="น้ำหนักของผู้ป่วย (กิโลกรัม)"
                    [(ngModel)]="current.WEIGHT"
                    [ngModelOptions]="{ standalone: true }">
                </nz-input-number>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="4" nzFor="marriage">สถานภาพ</nz-form-label>
            <nz-form-control [nzSm]="8">
                <nz-select id="marriage" 
                    [(ngModel)]="current.MARRIAGE" 
                    [ngModelOptions]="{ standalone: true }">
                    <nz-option nzValue="single" nzLabel="โสด"></nz-option>
                    <nz-option nzValue="marriage" nzLabel="แต่งงาน"></nz-option>
                    <nz-option nzValue="divorce" nzLabel="หย่า"></nz-option>
                    <nz-option nzValue="widow" nzLabel="หม้าย"></nz-option>
                    <nz-option nzValue="novalue" nzLabel="ไม่ระบุ"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="4" nzFor="disease">โรคประจำตัว</nz-form-label>
            <nz-form-control [nzSm]="8">
                <input nz-input id="disease"
                    placeholder="โรคประจำตัวของผู้ป่วย"
                    [(ngModel)]="current.DISEASE"
                    [ngModelOptions]="{ standalone: true }" />
            </nz-form-control>
            <nz-form-label [nzSm]="4" nzFor="health">สิทธิ์การรักษา</nz-form-label>
            <nz-form-control [nzSm]="8">
                <input nz-input id="health"
                    placeholder="สิทธิ์การรักษาของผู้ป่วย"
                    [(ngModel)]="current.HEALTH"
                    [ngModelOptions]="{ standalone: true }" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="4" nzFor="hospital">โรงพยาบาล</nz-form-label>
            <nz-form-control [nzSm]="8">
                <input nz-input id="hospital"
                    [(ngModel)]="current.HEALTHHOSPITAL"
                    [ngModelOptions]="{ standalone: true }" />
            </nz-form-control>
            <nz-form-label [nzSm]="4" nzFor="campaign">โครงการที่เข้าร่วม</nz-form-label>
            <nz-form-control [nzSm]="8">
                <input nz-input id="campaign"
                    placeholder="โครงการที่ผู้ป่วยเคยเข้าร่วม"
                    [(ngModel)]="current.HEALTHPROJECT"
                    [ngModelOptions]="{ standalone: true }" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="4" nzFor="relative">ญาติ</nz-form-label>
            <nz-form-control [nzSm]="8">
                <input nz-input id="relative"
                    placeholder="ชื่อ-นามสกุลของญาติที่สามารถติดต่อฉุกเฉิน"
                    [(ngModel)]="current.RELATIVE"
                    [ngModelOptions]="{ standalone: true }" />
            </nz-form-control>
            <nz-form-label [nzSm]="4" nzFor="relmobile">เบอร์ฉุกเฉิน</nz-form-label>
            <nz-form-control [nzSm]="8">
                <input nz-input id="relmobile"
                    placeholder="เบอร์ที่สามารถติดต่อฉุกเฉิน"
                    [(ngModel)]="current.RELATIVEMOBILE"
                    [ngModelOptions]="{ standalone: true }" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="4" nzFor="relmobile2">เบอร์ฉุกเฉินสำรอง</nz-form-label>
            <nz-form-control [nzSm]="8">
                <input nz-input id="relmobile2"
                    placeholder="เบอร์ที่สามารถติดต่อฉุกเฉิน"
                    [(ngModel)]="current.RELATIVEMOBILE2"
                    [ngModelOptions]="{ standalone: true }" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="4" nzFor="houseno">บ้านเลขที่</nz-form-label>
            <nz-form-control [nzSm]="8">
                <input nz-input id="houseno"
                    placeholder="บ้านเลขที่"
                    [(ngModel)]="current.HOMENO"
                    [ngModelOptions]="{ standalone: true }" />
            </nz-form-control>
            <nz-form-label [nzSm]="4" nzFor="soi">ซอย</nz-form-label>
            <nz-form-control [nzSm]="8">
                <input nz-input id="soi"
                    placeholder="ซอย"
                    [(ngModel)]="current.HOMESOI"
                    [ngModelOptions]="{ standalone: true }" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="4" nzFor="road">ถนน</nz-form-label>
            <nz-form-control [nzSm]="8">
                <input nz-input id="road"
                    placeholder="ถนน"
                    [(ngModel)]="current.HOMEROAD"
                    [ngModelOptions]="{ standalone: true }" />
            </nz-form-control>
            <nz-form-label [nzSm]="4" nzFor="subdistrict">แขวง/ตำบล</nz-form-label>
            <nz-form-control [nzSm]="8">
                <input nz-input id="subdistrict"
                    placeholder="แขวง/ตำบล"
                    [(ngModel)]="current.HOMESUBDISTRICT"
                    [ngModelOptions]="{ standalone: true }" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="4" nzFor="district">เขต/อำเภอ</nz-form-label>
            <nz-form-control [nzSm]="8">
                <input nz-input id="district"
                    placeholder="เขต/อำเภอ"
                    [(ngModel)]="current.HOMEDISTRICT"
                    [ngModelOptions]="{ standalone: true }" />
            </nz-form-control>
            <nz-form-label [nzSm]="4" nzFor="province">จังหวัด</nz-form-label>
            <nz-form-control [nzSm]="8">
                <input nz-input id="province"
                    placeholder="จังหวัด"
                    [(ngModel)]="current.HOMEPROVINCE"
                    [ngModelOptions]="{ standalone: true }" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="4" nzFor="postal">รหัสไปรษณีย์</nz-form-label>
            <nz-form-control [nzSm]="8">
                <input nz-input id="postal"
                    placeholder="รหัสไปรษณีย์"
                    [(ngModel)]="current.HOMEPOSTAL"
                    [ngModelOptions]="{ standalone: true }" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="4" nzFor="mobiletype">ประเภทมือถือ</nz-form-label>
            <nz-form-control [nzSm]="8">
                <nz-select id="mobiletype" 
                    [(ngModel)]="current.MOBILETYPE" 
                    [ngModelOptions]="{ standalone: true }">
                    <nz-option nzValue="android" nzLabel="Android"></nz-option>
                    <nz-option nzValue="ios" nzLabel="iPhone"></nz-option>
                    <nz-option nzValue="other" nzLabel="อื่นๆ"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="4" nzFor="cidcopy">ถ่ายบัตรประชาชน</nz-form-label>
            <nz-form-control [nzSm]="8">
                <nz-select id="cidcopy" 
                    [(ngModel)]="current.OFFICETHAIIDCOPY" 
                    [ngModelOptions]="{ standalone: true }">
                    <nz-option nzValue="notdone" nzLabel="ยังไม่ได้ถ่าย"></nz-option>
                    <nz-option nzValue="done" nzLabel="ถ่ายแล้ว"></nz-option>
                    <nz-option nzValue="problem" nzLabel="ติดปัญหา"></nz-option>
                    <nz-option nzValue="lbh" nzLabel="LBH"></nz-option>
                    <nz-option nzValue="noarchieve" nzLabel="ไม่เก็บเอกสาร"></nz-option>
                    <nz-option nzValue="nocampaign" nzLabel="ไม่เข้าร่วมโครงการ"></nz-option>
                </nz-select>
            </nz-form-control>
            <nz-form-label [nzSm]="4" nzFor="covidtest">ผลตรวจ COVID</nz-form-label>
            <nz-form-control [nzSm]="8">
                <nz-select id="covidtest" 
                    [(ngModel)]="current.OFFICECOVIDTEST" 
                    [ngModelOptions]="{ standalone: true }">
                    <nz-option nzValue="notdone" nzLabel="ยังไม่ได้ถ่าย"></nz-option>
                    <nz-option nzValue="done" nzLabel="ถ่ายแล้ว"></nz-option>
                    <nz-option nzValue="problem" nzLabel="ติดปัญหา"></nz-option>
                    <nz-option nzValue="lbh" nzLabel="LBH"></nz-option>
                    <nz-option nzValue="noarchieve" nzLabel="ไม่เก็บเอกสาร"></nz-option>
                    <nz-option nzValue="nocampaign" nzLabel="ไม่เข้าร่วมโครงการ"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="4" nzFor="officestatus">สถานะ Office</nz-form-label>
            <nz-form-control [nzSm]="8">
                <input nz-input id="officestatus"
                    placeholder="สถานะของ Office"
                    [(ngModel)]="current.OFFICESTATUS"
                    [ngModelOptions]="{ standalone: true }" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="4" nzFor="hiname">ลงชื่อ HI</nz-form-label>
            <nz-form-control [nzSm]="8">
                <input nz-input id="hiname"
                    placeholder="ชื่อ-นามสกุลของ HI"
                    [(ngModel)]="current.HI"
                    [ngModelOptions]="{ standalone: true }" />
            </nz-form-control>
            <nz-form-label [nzSm]="4" nzFor="hidate">วันที่อัพเดตข้อมูล</nz-form-label>
            <nz-form-control [nzSm]="8">
                <nz-date-picker id="hidate" 
                    nzFormat="dd/MM/yyyy" 
                    [(ngModel)]="current.HIDATE" 
                    [ngModelOptions]="{ standalone: true }"></nz-date-picker>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="4" nzFor="histatus">สถานะ HI</nz-form-label>
            <nz-form-control [nzSm]="8">
                <nz-select id="histatus" 
                    [(ngModel)]="current.HISTATUS" 
                    [ngModelOptions]="{ standalone: true }">
                    <nz-option nzValue="contacting" nzLabel="กำลังติดต่อ"></nz-option>
                    <nz-option nzValue="hi" nzLabel="HI"></nz-option>
                    <nz-option nzValue="himprove" nzLabel="ปรับปรุง HI"></nz-option>
                    <nz-option nzValue="ci" nzLabel="CI"></nz-option>
                    <nz-option nzValue="hialert" nzLabel="HI Alert"></nz-option>
                    <nz-option nzValue="hiout" nzLabel="ออกจากระบบ"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="4" nzFor="ciname">ลงชื่อ CI</nz-form-label>
            <nz-form-control [nzSm]="8">
                <input nz-input id="ciname"
                    placeholder="ชื่อ-นามสกุลของ CI"
                    [(ngModel)]="current.CI"
                    [ngModelOptions]="{ standalone: true }" />
            </nz-form-control>
            <nz-form-label [nzSm]="4" nzFor="cidate">วันที่อัพเดตข้อมูล</nz-form-label>
            <nz-form-control [nzSm]="8">
                <nz-date-picker id="cidate" 
                    nzFormat="dd/MM/yyyy" 
                    [(ngModel)]="current.CIDATE" 
                    [ngModelOptions]="{ standalone: true }"></nz-date-picker>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="4" nzFor="cistatus">สถานะ CI</nz-form-label>
            <nz-form-control [nzSm]="8">
                <input nz-input id="cistatus"
                    placeholder="สถานะของ CI"
                    [(ngModel)]="current.CISTATUS"
                    [ngModelOptions]="{ standalone: true }" />
            </nz-form-control>
            <nz-form-label [nzSm]="4" nzFor="cio2">CI (O<sub>2</sub>)</nz-form-label>
            <nz-form-control [nzSm]="8">
                <input nz-input id="cio2"
                [(ngModel)]="current.CIO2"
                [ngModelOptions]="{ standalone: true }" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="4" nzFor="psy">นักจิตวิทยา</nz-form-label>
            <nz-form-control [nzSm]="8">
                <label nz-checkbox
                    [(ngModel)]="current.PSY"
                    [ngModelOptions]="{ standalone: true }">ต้องการ</label>
            </nz-form-control>
        </nz-form-item>
    </form>
</ng-template>

<ng-template #titleTemplate>
    <nz-select [(ngModel)]="current.TITLE" class="dropdown-title">
        <nz-option nzValue="mr" nzLabel="นาย"></nz-option>
        <nz-option nzValue="mrs" nzLabel="นาง"></nz-option>
        <nz-option nzValue="miss" nzLabel="นางสาว"></nz-option>
        <nz-option nzValue="other" nzLabel="อื่นๆ"></nz-option>
        <nz-option nzValue="novalue" nzLabel="ไม่ระบุ"></nz-option>
    </nz-select>
</ng-template>