<ul nz-menu nzMode="horizontal">
    <li nz-menu-item nzSelected>
        <a [routerLink]="['/registration']">Registration</a>
    </li>
    <li nz-menu-item>
        <a [routerLink]="['/doctor']">Doctor</a>
    </li>
    <li nz-menu-item>
        <a [routerLink]="['/prescription']">Prescription</a>
    </li>
    <li nz-menu-item>
        <a [routerLink]="['/nurse']">Nurse</a>
    </li>
    <li nz-menu-item>
        <a [routerLink]="['/pharmacist']">Pharmacist</a>
    </li>
    <li nz-menu-item>
        <a [routerLink]="['/logistic']">Logistic</a>
    </li>
    <li nz-menu-item>
        <a [routerLink]="['/community-isolation']">Community Isolation</a>
    </li>
    <li nz-menu-item>
        <a [routerLink]="['/home-isolation']">Home Isolation</a>
    </li>
    <li nz-menu-item>
        <a [routerLink]="['/cm']">CM</a>
    </li>
    <li nz-menu-item>
        <a [routerLink]="['/office']">Office</a>
    </li>
</ul>